.container {
    margin: auto;
    width: 50%;
    border: 3px solid #8121ad;
    background-color: #eb7ada;
    padding: 10px;
  }
  .boton-agregar{
    font-weight:15px;
    font-size: 15px;
    color:antiquewhite;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    background-color: #8121ad;
    size: 20px;
  }
  .texto{font-size: 20px;}
  
  .boton {
    float: right;
    background-color: red;
    color: #ffff;
    
  }
  
